@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
  /* The image used */
  background-image: url('assets/hero-banner.jpg');

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
